html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#main_contain {
    overflow:auto;
    padding-bottom:150px;
    padding-top: 80px;
}
.footer {
    position: relative;
    margin-top: -150px;
    padding: 10px;
    clear:top;
    height: 150px;
    background-color: #f5f5f5;
}

.switch_width{
    width: 50px;
}

ul.options {
    list-style: none;
}